<html>
<head>
    <title>{{ title }} - Rock Paper Scissors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>
    <div>
    <h1>RPS.ROCK PAPER SCISSORS..</h1><br>
    <h3>Initiating RPS.BOT.v1.01..</h3>
    <p>"Greetings meat bag, define yourself below, and I will append it to your tombstone b***h.."</p><br>
        <form name="player-input" action="/cpu" method="post" onsubmit="">
            <label for="player-name"><strong>Enter your name..</strong></label><br>
            <br>
            <input type="text" name="player-name" id="player-name"><br>
            <br>
            <h4>Let's play Rock, Paper, Scissors!</h4>
            <label for="player-choice">"Meat bag seems more appropriate, make your choice below, and prepare to get f****d up courtesy of advanced, machine learning.."</label><br>
            <br>
            <input type="radio" name="player-choice" id="rock" value="rock"><strong> ROCK</strong><br>
            <br>
            <input type="radio" name="player-choice" id="paper" value="paper"><strong> PAPER</strong><br>
            <br>
            <input type="radio" name="player-choice" id="scissors" value="scissors"><strong> SCISSORS</strong><br>
            <br>
            <input type="submit" name="player-choice" value="CONFIRM">
            <br>
        </form>
        <br>
        <h4>Home</h4>
        <p>If the prospect of taking on RPS.BOT.v1.01 has caused the loss of control to your bladder, to return home in shame <a href="/"><strong>click here..</strong></a></p>  
    </div>
</body>
</html>
