<html>
<head>
    <title>{{ title }} - Rock Paper Scissors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>
    <div>
        <h1>RPS.ROCK PAPER SCISSORS..</h1><br>
        <h3>Welcome to Rock, Paper, Scissors..</h3>
        <p>If you need a refresher on the rules, I'll judge you, I mean where have you been, but <a href="/welcome">click here..</a></p><br>
        <h3>Let's play Rock, Paper, Scissors!</h3>
        <p>Player, please step up, and make your choice below..</p><br>
        <p><a href="/rock"><strong>ROCK</strong></a></p>
        <p><a href="/paper"><strong>PAPER</strong></a></p>
        <p><a href="/scissors"><strong>SCISSORS</strong></a></p><br>
        <br>
        <h3><RPS class="BOT"></RPS>RPS.BOT.v1.01..</h3>
        <h4>Or, if you're lacking in friends, willing acquantances or colleagues, play against the RPS.BOT.v1.01..</h4> 
        <p>To play against a computer-controlled opponent <a href="/cpu"><strong>click here..</strong></a></p><br>
        <p id="small-print"><strong>Obligatory Small Print.. </strong>This website is not responsible for injury to the player, their property, friends, family members, and anything-bloody-else for that matter, while playing against RPS.BOT.v1.01, you continue at your own risk, you've been warned, and if you ever try to sue we will destroy you, your reputation, finances, your spirt, assuming RPS.Bot.v1.01 hasn't broken you already..</p>
    </div>
</body>
</html>
