<html>
<head>
    <title>{{ title }} - Rock Paper Scissors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>
    <div>
        <h1>RPS.ROCK PAPER SCISSORS..</h1><br>
        <h3>Welcome to Rock, Paper, Scissors..</h3>
        <h4>Let's play Rock, Paper, Scissors!</h4>
        <p>Challenger, it's your turn, make your choice below..</p><br>
        <p><a href="/paper/rock"><strong>ROCK</strong></a></p>
        <p><a href="/paper/paper"><strong>PAPER</strong></a></p>
        <p><a href="/paper/scissors"><strong>SCISSORS</strong></a></p><br>
        <p>The atmosphere in here is electric, or that might be an issue with the electrics in your laptop, hopefully not..</p><br>
        <h4>Home</h4>
        <p>If you'd rather give up now, or the challenger has indeed been electrocuted, to return home <a href="/"><strong>click here..</strong></a></p>  
    </div>
</body>
</html>