<html>
<head>
    <title>{{ title }} - Rock Paper Scissors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>
    <div>
        <h1>Rock Paper Scissors</h1><br>
        <h3>Welcome to Rock, Paper, Scissors..</h3>
        <h4>Let's play Rock, Paper, Scissors!</h4>
        <p>Challenger, your turn, make your choice below..</p><br>
        <p><a href="/paper/rock">Rock</a></p><br>
        <p><a href="/paper/paper">Paper</a></p><br>
        <p><a href="/paper/scissors">Scissors</a></p>
    </div>
</body>
</html>