<html>
<head>
    <title>{{ title }} - Rock Paper Scissors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>
    <div>
        <h1>RPS.ROCK PAPER SCISSORS..</h1><br>
        <h3>Welcome to Rock, Paper, Scissors..</h3>
        <h4>Let's play Rock, Paper, Scissors!</h4>
        <p>Challenger, your turn, make your choice below..</p><br>
        <p><a href="/rock/rock"><strong>Rock</strong></a></p>
        <p><a href="/rock/paper"><strong>Paper</strong></a></p>
        <p><a href="/rock/scissors"><strong>Scissors</strong></a></p><br>
    </div>
</body>
</html>