<html>
<head>
    <title>{{ title }} - Rock Paper Scissors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>
    <div>
        <h1>RPS.ROCK PAPER SCISSORS..</h1><br>
        <h3>Let's play Rock, Paper, Scissors!</h3>
        <h4>Your opponent has made their decision..</h4>
        <p>Challenger, it's your turn, make your choice below..</p><br>
        <p><a href="/rock/rock"><strong>ROCK</strong></a></p>
        <p><a href="/rock/paper"><strong>PAPER</strong></a></p>
        <p><a href="/rock/scissors"><strong>SCISSORS</strong></a></p><br>
        <p>You can cut the tension with a knife, metaphorically obivously, tension lacks physicality, mass, and such..</p><br>
        <h4>Home</h4>
        <p>If you're too busy contemplating the above, and this is now all too trivial, to return home <a href="/"><strong>click here..</strong></a></p>
    </div>
</body>
</html>