<html>
<head>
    <title>{{ title }} - Rock Paper Scissors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>
    <div>
        <h1>RPS.ROCK PAPER SCISSORS..</h1><br>
        <h3>Let's play Rock, Paper, Scissors!</h3>
        <h4>Your opponent has made their decision..</h4>
        <p>Challenger, it's your turn, make your choice below..</p><br>
        <p><a href="/scissors/rock"><strong>ROCK</strong></a></p>
        <p><a href="/scissors/paper"><strong>PAPER</strong></a></p>
        <p><a href="/scissors/scissors"><strong>SCISSORS</strong></a></p><br>
        <p>I can barely contain my excitment, who will win, and who will hang their head shamefully in defeat, likely to be ostracised by friends, and family..</p><br>
        <h4>Home</h4>
        <p>If that's all too much pressure for you, and you'd rather return home <a href="/"><strong>click here..</strong></a></p>
    </div>
</body>
</html>