<html>
<head>
    <title>{{ title }} - Rock Paper Scissors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>
    <div>
        <h1>Rock Paper Scissors</h1><br>
        <h3>The Official Rules of Rock, Paper, Scissors</h2><br>
        <h4>There are three simple rules to Rock, Paper, Scissors..</h4><br>
        <ul>
            <li>Rock crushes scissors..</li><br>
            <li>Scissors cuts paper..</li><br>
            <li>Paper covers rock..</li><br>
        </ul>
        <p>So, Rock beats Scissors, Scissors beats Paper, Paper beats Rock..<br>
            Players take turns choosing one of the three, to decide who wins..<br>
            Should players make the same choice this results in a tie..<br>
            Simple, now it's time to play..</p><br>
        <p>To return home <a href="/">click here..</a></p>
                  
    </div>
</body>
</html>