<html>
<head>
    <title>{{ title }} - Rock Paper Scissors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>
    <div>
        <h1>RPS.ROCK PAPER SCISSORS..</h1><br>
        <h3>The Official Rules of Rock, Paper, Scissors..</h2>
        <h4>There are five simple rules to Rock, Paper, Scissors..</h4>
        <ul>
            <li><strong>[ 1.0 ] First rule, you do not talk about RPS..</strong></li><br>
            <li><strong>[ 2.0 ] Second rule, you DO NOT talk about RPS..</strong></li><br>
            <li>Get it, Fight Club lol, original comedy, anyway, potentially more importantly..</li><br>
            <li><strong>[ 3.0 ] ROCK crushes scissors..</strong></li><br>
            <li><strong>[ 4.0 ] SCISSORS cuts paper..</strong></li><br>
            <li><strong>[ 5.0 ] PAPER covers rock..</strong></li><br>
        </ul>
        <p><strong>How To Play..</strong></p>
        <p>So, for those needing it spelled out, Rock beats Scissors, Scissors beats Paper, Paper beats Rock..</p>
        <p>Players take turns choosing one of the three, to decide who wins..</p>
        <p>Should players make the same choice this results in a tie..</p>
        <p>Simples, to quote a decidely unfunny advert, now it's time to play..</p>
        <h4>Home</h4>
        <p>To return home, and put all you've learned into practice <a href="/"><strong>click here..</strong></a></p>        
    </div>
</body>
</html>